<template>
    <div id='{{fileName}}'></div>
</template>

<script>
    import js from './{{fileName}}.js';
    export default js;
</script>

<style scoped lang='{{style}}'>
    @import './{{fileName}}.{{style}}';
</style>
